<div class="sessions-container">
  <%= form_with(scope: :session, local: true, data: { turbo: false }, url: login_path) do |f| %>
    <h1 class="h4 mb-3 fw-normal">Login</h1>

    <div class="form-floating">
      <%= f.text_field :username, class: "form-control", placeholder: "username" %>
      <%= f.label :username, for: "session_username" %>
    </div>
    
    <div class="form-floating">
      <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
      <%= f.label :password, for: "session_password" %>
    </div>
    
    <%= f.submit "Login", class: "btn btn-primary w-100 py-2 text-white" %>

    <p class="mt-5 mb-3 text-body-secondary">© 2024–2025</p>
  <% end %>
</div>